USE [NERP]
GO
/****** Object:  StoredProcedure [dbo].[sp_TranItem]    Script Date: 25/11/2017 12:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Navindu
-- Create date: 2017-11-25
-- Description:	Transfer Item Details
-- =============================================
ALTER PROCEDURE [dbo].[sp_TranItem]

AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

	BEGIN TRANSACTION

	DECLARE @Idx bigint,
	@MaxId bigint,
    @ItemID bigint   ,
	@ItemCode nvarchar(20) ,
	@BarCode nvarchar(50) ,
	@ReferenceCode nvarchar(50) ,
	@ItemName nvarchar(60) ,
	@NameOnInvoice nvarchar(150) ,
	@CategoryID bigint  ,
	@SubCategory1ID bigint  ,
	@SubCategory2ID bigint  ,
	@BrandID bigint  ,
	@ReOrderLevel bigint  ,
	@ReOrderQty bigint  ,
	@SellingPrice decimal(18, 2)  ,
	@CostPrice decimal(18, 2)  ,
	@MarginPercentage decimal(18, 2)  ,
	@MaximumPrice decimal(18, 2)  ,
	@MinimumPrice decimal(18, 2)  ,
	@FixedDiscountPercentage decimal(18, 2)  ,
	@ItemImage varbinary(max) ,
	@IsActive bit  ,
	@IsDelete bit  ,
	@GroupOfCompanyID int  ,
	@CreatedUser nvarchar(50) ,
	@CreatedDate datetime  ,
	@ModifiedUser nvarchar(50) ,
	@ModifiedDate datetime  

	SELECT @MaxId=Idx from Sync_Log WHERE TID=1


	if (@MaxId is null)
	BEGIN

	INSERT INTO [dbo].[SYNC_LOG]
           ([TID]
           ,[IDX]
           ,[Description])
     VALUES
	 (1,
	  0,
	  'ITEM'
	 )

	 SELECT @MaxId=Idx from Sync_Log WHERE TID=1
	

	END

	IF CURSOR_STATUS('global','cur1')>=-1
	BEGIN
	 DEALLOCATE cur1
	END

	DECLARE cur1 CURSOR FAST_FORWARD READ_ONLY
	FOR	
	SELECT TOP 10
	   [Idx]
	  ,[ItemID]
      ,[ItemCode]
      ,[BarCode]
      ,[ReferenceCode]
      ,[ItemName]
      ,[NameOnInvoice]
      ,[CategoryID]
      ,[SubCategory1ID]
      ,[SubCategory2ID]
      ,[BrandID]
      ,[ReOrderLevel]
      ,[ReOrderQty]
      ,[SellingPrice]
      ,[CostPrice]
      ,[MarginPercentage]
      ,[MaximumPrice]
      ,[MinimumPrice]
      ,[FixedDiscountPercentage]
      ,[ItemImage]
      ,[IsActive]
      ,[IsDelete]
      ,[GroupOfCompanyID]
      ,[CreatedUser]
      ,[CreatedDate]
      ,[ModifiedUser]
      ,[ModifiedDate]
	FROM [HELADIWAHEALTH.DDNS.NET].[NERP].[dbo].[ITEMSYNC]
	WHERE [IDX]>@MaxId
	ORDER BY [IDX]

	OPEN cur1

	FETCH NEXT FROM cur1 INTO 
	   @Idx
	  ,@ItemID
      ,@ItemCode
      ,@BarCode
      ,@ReferenceCode
      ,@ItemName
      ,@NameOnInvoice
      ,@CategoryID
      ,@SubCategory1ID
      ,@SubCategory2ID
      ,@BrandID
      ,@ReOrderLevel
      ,@ReOrderQty
      ,@SellingPrice
      ,@CostPrice
      ,@MarginPercentage
      ,@MaximumPrice
      ,@MinimumPrice
      ,@FixedDiscountPercentage
      ,@ItemImage
      ,@IsActive
      ,@IsDelete
      ,@GroupOfCompanyID
      ,@CreatedUser
      ,@CreatedDate
      ,@ModifiedUser
      ,@ModifiedDate

	WHILE @@FETCH_STATUS=0
	BEGIN
	IF EXISTS(SELECT ItemID FROM Item where ItemID=@ItemID)
	BEGIN
	
   UPDATE [dbo].[Item]
   SET [ItemCode] = @ItemCode
      ,[BarCode] = @BarCode
      ,[ReferenceCode] = @ReferenceCode
      ,[ItemName] = @ItemName 
      ,[NameOnInvoice] = @NameOnInvoice
      ,[CategoryID] = @CategoryID 
      ,[SubCategory1ID] = @SubCategory1ID 
      ,[SubCategory2ID] = @SubCategory2ID 
      ,[BrandID] = @BrandID 
      ,[ReOrderLevel] = @ReOrderLevel 
      ,[ReOrderQty] = @ReOrderQty 
      ,[SellingPrice] = @SellingPrice
      ,[CostPrice] = @CostPrice
      ,[MarginPercentage] = @MarginPercentage
      ,[MaximumPrice] = @MaximumPrice
      ,[MinimumPrice] = @MinimumPrice
      ,[FixedDiscountPercentage] = @FixedDiscountPercentage
      ,[ItemImage] = @ItemImage
      ,[IsActive] = @IsActive
      ,[IsDelete] = @IsDelete
      ,[GroupOfCompanyID] = @GroupOfCompanyID
      ,[CreatedUser] = @CreatedUser
      ,[CreatedDate] = @CreatedDate
      ,[ModifiedUser] = @ModifiedUser
      ,[ModifiedDate] = @ModifiedDate
       WHERE ItemID=@ItemId
	END
	ELSE
	BEGIN

	SET IDENTITY_INSERT [Item] ON
	INSERT INTO [dbo].[Item]
           ([ItemID]
		   ,[ItemCode]
           ,[BarCode]
           ,[ReferenceCode]
           ,[ItemName]
           ,[NameOnInvoice]
           ,[CategoryID]
           ,[SubCategory1ID]
           ,[SubCategory2ID]
           ,[BrandID]
           ,[ReOrderLevel]
           ,[ReOrderQty]
           ,[SellingPrice]
           ,[CostPrice]
           ,[MarginPercentage]
           ,[MaximumPrice]
           ,[MinimumPrice]
           ,[FixedDiscountPercentage]
           ,[ItemImage]
           ,[IsActive]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
		   VALUES
		   (@ItemID
		   ,@ItemCode
           ,@BarCode
           ,@ReferenceCode
           ,@ItemName
           ,@NameOnInvoice
           ,@CategoryID
           ,@SubCategory1ID
           ,@SubCategory2ID
           ,@BrandID
           ,@ReOrderLevel
           ,@ReOrderQty
           ,@SellingPrice
           ,@CostPrice
           ,@MarginPercentage
           ,@MaximumPrice
           ,@MinimumPrice
           ,@FixedDiscountPercentage
           ,@ItemImage
           ,@IsActive
           ,@IsDelete
           ,@GroupOfCompanyID
           ,@CreatedUser
           ,@CreatedDate
           ,@ModifiedUser
           ,@ModifiedDate
		   )
		   	SET IDENTITY_INSERT [Item] OFF
	END
	FETCH NEXT FROM cur1 INTO 
	   @Idx
	  ,@ItemID
      ,@ItemCode
      ,@BarCode
      ,@ReferenceCode
      ,@ItemName
      ,@NameOnInvoice
      ,@CategoryID
      ,@SubCategory1ID
      ,@SubCategory2ID
      ,@BrandID
      ,@ReOrderLevel
      ,@ReOrderQty
      ,@SellingPrice
      ,@CostPrice
      ,@MarginPercentage
      ,@MaximumPrice
      ,@MinimumPrice
      ,@FixedDiscountPercentage
      ,@ItemImage
      ,@IsActive
      ,@IsDelete
      ,@GroupOfCompanyID
      ,@CreatedUser
      ,@CreatedDate
      ,@ModifiedUser
      ,@ModifiedDate

	  UPDATE Sync_Log SET Idx=@Idx WHERE TID=1
	END

	CLOSE cur1
	DEALLOCATE cur1

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH
END
