USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spOpeningStockSave]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	By Navindu
-- Create date: 2017-11-23
-- Description:	Opening Stock
-- =============================================
create PROCEDURE [dbo].[spOpeningStockSave]
	  @OpeningStockMainID BIGINT,
	  @DocumentID BIGINT,
	  @DocumentNo NVARCHAR(30),
	  @LocationID BIGINT
AS
BEGIN

	SET NOCOUNT ON;

BEGIN TRY

	BEGIN TRANSACTION

	IF OBJECT_ID('tempdb..#TempOpeningStockSub') IS NOT NULL
    DROP TABLE #TempOpeningStockSub

	SELECT sb.ItemID,SUM(sb.Qty) as qty,min(sb.SellingPrice) as SellingPrice,min(sb.CostPrice) as CostgPrice INTO #TempOpeningStockSub FROM OpeningStockMain pm
	INNER JOIN OpeningStockSub sb on sb.OpeningStockMainID=pm.OpeningStockMainID
	WHERE pm.OpeningStockMainID=@OpeningStockMainID AND pm.DocumentID=@DocumentID AND pm.LocationID=@LocationID 
	GROUP BY sb.ItemID

	UPDATE ims
	SET IMS.Stock= IMS.Stock+tb.Qty
	FROM ItemStock ims INNER JOIN #TempOpeningStockSub tb
	ON Ims.ItemID=tb.ItemID 
	WHERE ims.LocationID=@LocationID
	
	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH


END
GO
