USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spReSeedTable]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spReSeedTable] 

AS
BEGIN
	
	SET NOCOUNT ON;

	truncate table RChannelingSummary

END
GO
