USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spPaidInPaidOutDetails]    Script Date: 10/27/2021 06:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPaidInPaidOutDetails]


@LocationID bigint,
@CounterNo bigint,
@DateFrom datetime,
@DateTo datetime,
@IsPaidIn bit

AS
BEGIN

IF @LocationID=0
BEGIN

SET @LocationID = null

END

IF @CounterNo=0
BEGIN

SET @CounterNo = null

END


if @IsPaidIn=1
BEGIN

SELECT 'PAID IN' as PaidInPaidOutType,pm.DocumentNo,CAST(pm.DocumentDate as date) as DocumentDate,pm.Person,l.LocationName,c.CounterName,pm.TotalAmount,pin.PaidInTypeName as Descrip,ps.Amount from PaidInPaidOutMain pm
inner join PaidInPaidOutSub ps on pm.PaidInPaidOutMainID=ps.PaidInPaidOutMainID
inner join PaidInType pin on ps.PaidInPaidOutID=pin.PaidInTypeID
inner join Location l on pm.LocationID=l.LocationID
inner join [Counter] c on pm.CounterNo=c.CounterNo
where pm.PaidInPaidOutType=1 AND CAST(pm.DocumentDate as date) between @DateFrom AND @DateTo AND
 (pm.LocationID = @LocationID or @LocationID IS NULL)
AND
 (pm.CounterNo = @CounterNo or @CounterNo IS NULL)

END
ELSE
BEGIN
SELECT 'PAID OUT' as PaidInPaidOutType,pm.DocumentNo,CAST(pm.DocumentDate as date) as DocumentDate,pm.Person,l.LocationName,c.CounterName,pm.TotalAmount,pin.PaidOutTypeName as Descrip,ps.Amount from PaidInPaidOutMain pm
inner join PaidInPaidOutSub ps on pm.PaidInPaidOutMainID=ps.PaidInPaidOutMainID
inner join PaidOutType pin on ps.PaidInPaidOutID=pin.PaidOutTypeID
inner join Location l on pm.LocationID=l.LocationID
inner join [Counter] c on pm.CounterNo=c.CounterNo
where pm.PaidInPaidOutType=2 AND CAST(pm.DocumentDate as date) between @DateFrom AND @DateTo AND
 (pm.LocationID = @LocationID or @LocationID IS NULL)
AND
 (pm.CounterNo = @CounterNo or @CounterNo IS NULL)
END

END
GO
