USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spSaveUserPrivileges]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spSaveUserPrivileges]

@UserMasterID  bigint,
@TblUserPrivileges UserPrivilegesType Readonly,
@TblUserPrivilegesLocation UserPrivilegesLocationType Readonly

AS
BEGIN

DECLARE @UserID bigint
DECLARE @FormInfoID bigint 
DECLARE @IsAccess bit
DECLARE @IsSave bit
DECLARE	@IsRemove bit 
DECLARE @IsDelete bit	
DECLARE @GroupOfCompanyID int
DECLARE @CreatedUser nvarchar(50)
DECLARE @CreatedDate datetime
DECLARE @ModifiedUser nvarchar(50)
DECLARE @ModifiedDate datetime

DECLARE dbCursor1 CURSOR FOR 

SELECT UserID,
FormInfoID,
IsAccess,
IsSave,
IsRemove,
IsDelete,
GroupOfCompanyID,
CreatedUser,
CreatedDate,
ModifiedUser,
ModifiedDate
FROM @TblUserPrivileges

OPEN dbCursor1

FETCH NEXT FROM dbCursor1 INTO @UserID,
@FormInfoID,
@IsAccess,
@IsSave,
@IsRemove,
@IsDelete,
@GroupOfCompanyID,
@CreatedUser,
@CreatedDate,
@ModifiedUser,
@ModifiedDate
WHILE @@FETCH_STATUS = 0
BEGIN

IF EXISTS(SELECT * FROM UserPrivileges WHERE UserID=@UserMasterID AND FormInfoID=@FormInfoID)
BEGIN
UPDATE [UserPrivileges]
   SET [UserID] =@UserMasterID
      ,[FormInfoID] = @FormInfoID
      ,[IsAccess] =@IsAccess
      ,[IsSave] = @IsSave
      ,[IsRemove] = @IsRemove
      ,[IsDelete] = @IsDelete
      ,[GroupOfCompanyID] = @GroupOfCompanyID
      ,[CreatedUser] = @CreatedUser
      ,[CreatedDate] = @CreatedDate
      ,[ModifiedUser] =@ModifiedUser
      ,[ModifiedDate] = @ModifiedDate
 WHERE  UserID=@UserMasterID AND FormInfoID=@FormInfoID
END
ELSE
BEGIN
INSERT INTO [UserPrivileges]
           ([UserID]
           ,[FormInfoID]
           ,[IsAccess]
           ,[IsSave]
           ,[IsRemove]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
  VALUES   (@UserMasterID,
@FormInfoID,
@IsAccess,
@IsSave,
@IsRemove,
@IsDelete,
@GroupOfCompanyID,
@CreatedUser,
@CreatedDate,
@ModifiedUser,
@ModifiedDate)

           
END


FETCH NEXT FROM dbCursor1 INTO @UserID,
@FormInfoID,
@IsAccess,
@IsSave,
@IsRemove,
@IsDelete,
@GroupOfCompanyID,
@CreatedUser,
@CreatedDate,
@ModifiedUser,
@ModifiedDate
END
 
CLOSE dbCursor1
DEALLOCATE dbCursor1


DECLARE @UserPrivilegesLocationID bigint
DECLARE @LocationID bit
DECLARE	@IsAllow bit 


	
DECLARE dbCursor2 CURSOR FOR
SELECT UserID
      ,LocationID
      ,IsAllow
      ,IsDelete
      ,GroupOfCompanyID
      ,CreatedUser
      ,CreatedDate
      ,ModifiedUser
      ,ModifiedDate
      From @TblUserPrivilegesLocation

OPEN dbCursor2

FETCH NEXT FROM dbCursor2 INTO @UserID,
@LocationID,
@IsAllow,
@IsDelete,
@GroupOfCompanyID,
@CreatedUser,
@CreatedDate,
@ModifiedUser,
@ModifiedDate
WHILE @@FETCH_STATUS = 0
BEGIN

IF EXISTS(SELECT * FROM UserPrivilegesLocation WHERE UserID=@UserMasterID AND LocationID=@LocationID)
BEGIN
UPDATE [UserPrivilegesLocation]
   SET [UserID] =@UserMasterID
      ,[LocationID] = @LocationID
      ,[IsAllow] = @IsAllow
      ,[IsDelete] = @IsDelete
      ,[GroupOfCompanyID] = @GroupOfCompanyID
      ,[CreatedUser] = @CreatedUser
      ,[CreatedDate] = @CreatedDate
      ,[ModifiedUser] =@ModifiedUser
      ,[ModifiedDate] = @ModifiedDate
WHERE UserID=@UserMasterID AND LocationID=@LocationID 

END
ELSE
BEGIN
INSERT INTO [UserPrivilegesLocation]
           ([UserID]
           ,[LocationID]
           ,[IsAllow]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
     VALUES
           (@UserMasterID
           ,@LocationID
           ,@IsAllow
           ,@IsDelete
           ,@GroupOfCompanyID
           ,@CreatedUser
           ,@CreatedDate
           ,@ModifiedUser
           ,@ModifiedDate)
		 
END
FETCH NEXT FROM dbCursor2 INTO @UserID,
@LocationID,
@IsAllow,
@IsDelete,
@GroupOfCompanyID,
@CreatedUser,
@CreatedDate,
@ModifiedUser,
@ModifiedDate
END
CLOSE dbCursor2
DEALLOCATE dbCursor2

END
GO
