USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spGoodsReceivedNoteSave]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	By Navindu
-- Create date: 2017-10-29
-- Description:	GoodsReceivedNoteSave
-- =============================================
create PROCEDURE [dbo].[spGoodsReceivedNoteSave]
	  @PurchaseMainID BIGINT,
	  @DocumentID BIGINT,
	  @DocumentNo NVARCHAR(30),
	  @LocationID BIGINT
AS
BEGIN

	SET NOCOUNT ON;

BEGIN TRY

	BEGIN TRANSACTION

	IF OBJECT_ID('tempdb..#TempPurchaseSub') IS NOT NULL
    DROP TABLE #TempPurchaseSub

	SELECT sb.ItemID,SUM(sb.Qty+sb.FreeQty) as qty,min(sb.SellingPrice) as SellingPrice,min(sb.MarginPercentage) as MarginPercentage,min(sb.CostPrice) as CostgPrice INTO #TempPurchaseSub FROM PurchaseMain pm
	INNER JOIN PurchaseSub sb on sb.PurchaseMainID=pm.PurchaseMainID
	WHERE pm.PurchaseMainID=@PurchaseMainID AND pm.DocumentID=@DocumentID AND pm.LocationID=@LocationID 
	GROUP BY sb.ItemID

	UPDATE ims
	SET IMS.Stock= IMS.Stock+tb.Qty
	FROM ItemStock ims INNER JOIN #TempPurchaseSub tb
	ON Ims.ItemID=tb.ItemID 
	WHERE ims.LocationID=@LocationID

	UPDATE im
	SET im.SellingPrice= tb.SellingPrice,im.MarginPercentage=tb.MarginPercentage,im.CostPrice=tb.CostgPrice
	FROM Item im INNER JOIN #TempPurchaseSub tb
	ON im.ItemID=tb.ItemID 
	
	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH


END
GO
