USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spCounterSummary]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCounterSummary]
	@LocationID bigint,
	@CounterID bigint,
    @DateFrom datetime,
    @DateTo datetime,
    @ReportType bigint, -- 1-POS Sales Summary 2-ZReport 3-XReport
    @UserID bigint,
	@DeclareAmount decimal(18,2)
	
	--exec [spCounterSummary] 1,1,'2020-03-21','2020-03-21',3,1,0
AS
BEGIN
	
	SET NOCOUNT ON;	
	  
   BEGIN TRY

	BEGIN TRANSACTION
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'
	

	Declare		
	       @sqlCounterOpen nvarchar(max),
	       @sqlCashSale nvarchar(max),
	       @sqlCashReturn nvarchar(max),
	       @sqlCounterClose nvarchar(max),
	       
	       @sqlGrossSale nvarchar(max),
	       @sqlRefund nvarchar(max),
	       @sqlItemDiscount nvarchar(max),
	       @sqlSubTotalDiscount nvarchar(max),
	       @sqlPaidInCash nvarchar(max),
	       @sqlPaidOutCash nvarchar(max),
	       @sqlReturnItemDiscount nvarchar(max),
	       @sqlReturnSubTotalDiscount nvarchar(max),
	       
	       @sqlCardSale nvarchar(max),
	       @sqlOtherSale nvarchar(max),
	       
	       @counterOpen decimal(18,2)=0,
	       @cashSale decimal(18,2)=0,
	       @nCashSale bigint =0,
	       @cashRefund decimal(18,2)=0,
	       @paidInCash decimal(18,2)=0,
	       @paidOutCash decimal(18,2)=0,
	       @counterClose decimal(18,2)=0,
	       
	       @grossSale decimal(18,2)=0,
	       @itemDiscount decimal(18,2)=0,
	       @subTotalDiscount decimal(18,2)=0,
	       @refund decimal(18,2)=0,
	       @itemReturnDiscount decimal(18,2)=0,
	       @subTotalReturnDiscount decimal(18,2)=0

	
	SET @sqlCounterOpen='SELECT @counterOpen=ISNULL(Amount,0) FROM CounterTransaction
                     WHERE TransactionTypeID=1 '
     
    SET @sqlCashSale='SELECT @cashSale=ISNULL(SUM(CASE WHEN Amount<Balance THEN Amount ELSE Balance END),0) FROM SalesPayment
                      WHERE PayTypeID=1 AND DocumentID='''+CAST(@InvoiceDocumentID as nvarchar)+''''
                      
    SET @sqlCashReturn='SELECT @cashSale=ISNULL(SUM(CASE WHEN Amount<Balance THEN Amount ELSE Balance END),0) FROM SalesPayment
                      WHERE PayTypeID=1 AND DocumentID='''+CAST(@InvoiceReturnDocumentID as nvarchar)+''''

	SET @sqlCounterClose='SELECT @counterClose=ISNULL(Amount,0) FROM CounterTransaction
                     WHERE TransactionTypeID=2 '
         
    
    SET @sqlGrossSale='SELECT @grossSale=ISNULL(SUM(SellingPrice*Qty),0) FROM SalesSub WHERE DocumentID='''+CAST(@InvoiceDocumentID as nvarchar)+'''' 
    
    SET @sqlRefund='SELECT @grossSale=ISNULL(SUM(SellingPrice*Qty),0) FROM SalesSub WHERE DocumentID='''+CAST(@InvoiceReturnDocumentID as nvarchar)+''''     
   
    SET @sqlItemDiscount='SELECT @itemDiscount=ISNULL(SUM(DiscountAmount),0) FROM SalesSub WHERE DocumentID='''+CAST(@InvoiceDocumentID as nvarchar)+'''' 
    
    SET @sqlSubTotalDiscount='SELECT @subTotalDiscount=ISNULL(DiscountAmount,0) FROM SalesMain WHERE DocumentID='''+CAST(@InvoiceDocumentID as nvarchar)+''''    
         
    SET @sqlPaidInCash='SELECT @paidInCash=ISNULL(SUM(TotalAmount),0) FROM PaidInPaidOutMain
                        WHERE PaidInPaidOutType=1' 

    SET @sqlPaidOutCash='SELECT @paidOutCash=ISNULL(SUM(TotalAmount),0) FROM PaidInPaidOutMain
                        WHERE PaidInPaidOutType=2' 
                        
                           
    SET @sqlReturnItemDiscount='SELECT @itemReturnDiscount=ISNULL(SUM(DiscountAmount),0) FROM SalesSub WHERE DocumentID='''+CAST(@InvoiceReturnDocumentID as nvarchar)+'''' 
    
    SET @sqlReturnSubTotalDiscount='SELECT @subTotalReturnDiscount=ISNULL(DiscountAmount,0) FROM SalesMain WHERE DocumentID='''+CAST(@InvoiceReturnDocumentID as nvarchar)+''''    
      

                    
     SET @sqlCardSale='SELECT b.BankName,ISNULL(SUM(CASE WHEN sp.Amount<sp.Balance THEN sp.Amount ELSE sp.Balance END),0) AS Amount FROM SalesPayment sp
							INNER JOIN Paytype p ON p.paytypeID = sp.paytypeID
							INNER JOIN Bank b ON b.BankID = sp.BankID
							WHERE p.PaytypeID=2'                    

     SET @sqlOtherSale='SELECT p.PayTypeName,ISNULL(SUM(CASE WHEN sp.Amount<sp.Balance THEN sp.Amount ELSE sp.Balance END),0) AS Amount FROM SalesPayment sp
						INNER JOIN Paytype p ON p.paytypeID = sp.paytypeID
						WHERE p.PaytypeID NOT IN(1,2)'                    


IF @ReportType=1
BEGIN

SET @sqlCounterOpen+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''    
SET @sqlCashSale+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlCashReturn+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlCounterClose+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''  

SET @sqlGrossSale+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''' 
SET @sqlRefund+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''' 
SET @sqlItemDiscount+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlSubTotalDiscount+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlPaidInCash+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlPaidOutCash+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlReturnItemDiscount+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlReturnSubTotalDiscount+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''

   
SET @sqlCardSale+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''
SET @sqlOtherSale+=' AND CAST(Zdate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+''''

END

 ELSE IF @ReportType=2 OR @ReportType=3
    BEGIN
    
    DECLARE @Zno bigint =0
    
    SELECT @Zno=Zno FROM [Counter] WHERE LocationID=@LocationID AND CounterID=@CounterID

    SET @sqlCounterOpen+=' AND Zno='''+CAST(@Zno as nvarchar)+'''' 
    SET @sqlCashSale+=' AND Zno='''+CAST(@Zno as nvarchar)+''''    
    SET @sqlCashReturn+=' AND Zno='''+CAST(@Zno as nvarchar)+''''    
    SET @sqlCounterClose+=' AND Zno='''+CAST(@Zno as nvarchar)+''''  
    
    SET @sqlGrossSale+=' AND Zno='''+CAST(@Zno as nvarchar)+''''  
    SET @sqlRefund+=' AND Zno='''+CAST(@Zno as nvarchar)+''''  
    SET @sqlItemDiscount+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
    SET @sqlSubTotalDiscount+=' AND Zno='''+CAST(@Zno as nvarchar)+''''  
    SET @sqlPaidInCash+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
    SET @sqlPaidOutCash+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
    SET @sqlReturnItemDiscount+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
    SET @sqlReturnSubTotalDiscount+=' AND Zno='''+CAST(@Zno as nvarchar)+'''' 
    
    SET @sqlCardSale+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
    SET @sqlOtherSale+=' AND Zno='''+CAST(@Zno as nvarchar)+''''
           
    END
    
    
    IF(@LocationID<>0)
    BEGIN    
    
    SET @sqlCounterOpen+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''    
    SET @sqlCashSale+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''  
    SET @sqlCashReturn+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''     
    SET @sqlCounterClose+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''  
        
    SET @sqlGrossSale+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''  
    SET @sqlRefund+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''      
    SET @sqlItemDiscount+=' AND LocationID='''+CAST(@LocationID as nvarchar)+'''' 
    SET @sqlSubTotalDiscount+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''    
    SET @sqlPaidInCash+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''
    SET @sqlPaidOutCash+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''
    SET @sqlReturnItemDiscount+=' AND LocationID='''+CAST(@LocationID as nvarchar)+'''' 
    SET @sqlReturnSubTotalDiscount+=' AND LocationID='''+CAST(@LocationID as nvarchar)+'''' 
     
    SET @sqlCardSale+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''  
    SET @sqlOtherSale+=' AND LocationID='''+CAST(@LocationID as nvarchar)+''''  
      
    END 
    
    IF(@CounterID<>0)
    BEGIN   
     
    SET @sqlCounterOpen+=' AND CounterID='''+CAST(@CounterID as nvarchar)+''''    
    SET @sqlCashSale+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlCashReturn+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlCounterClose+=' AND CounterID='''+CAST(@CounterID as nvarchar)+''''    
     
    SET @sqlGrossSale+=' AND CounterID='''+CAST(@CounterID as nvarchar)+''''   
    SET @sqlRefund+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlItemDiscount+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlSubTotalDiscount+=' AND CounterID='''+CAST(@CounterID as nvarchar)+''''    
    SET @sqlPaidInCash+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlPaidOutCash+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlReturnItemDiscount+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlReturnSubTotalDiscount+=' AND CounterID='''+CAST(@CounterID as nvarchar)+''''    
      
    SET @sqlCardSale+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    SET @sqlOtherSale+=' AND CounterID='''+CAST(@CounterID as nvarchar)+'''' 
    
    END 
    
   
   	EXEC sp_executesql @sqlCounterOpen, N'@counterOpen decimal(18,2) out', @counterOpen out  
 	EXEC sp_executesql @sqlCashSale, N'@cashSale decimal(18,2) out', @cashSale out 
 	EXEC sp_executesql @sqlCashReturn, N'@cashSale decimal(18,2) out', @cashRefund out 
 	EXEC sp_executesql @sqlCounterClose, N'@counterClose decimal(18,2) out', @counterClose out 
 	 
 	EXEC sp_executesql @sqlGrossSale, N'@grossSale decimal(18,2) out', @grossSale out
 	EXEC sp_executesql @sqlRefund, N'@grossSale decimal(18,2) out', @refund out   
 	EXEC sp_executesql @sqlItemDiscount, N'@itemDiscount decimal(18,2) out', @itemDiscount out 
 	EXEC sp_executesql @sqlSubTotalDiscount, N'@subTotalDiscount decimal(18,2) out', @subTotalDiscount out  
    EXEC sp_executesql @sqlPaidInCash, N'@paidInCash decimal(18,2) out', @paidInCash out  
    EXEC sp_executesql @sqlPaidOutCash, N'@paidOutCash decimal(18,2) out', @paidOutCash out  
    EXEC sp_executesql @sqlReturnItemDiscount, N'@itemReturnDiscount decimal(18,2) out', @itemReturnDiscount out 
 	EXEC sp_executesql @sqlReturnSubTotalDiscount, N'@subTotalReturnDiscount decimal(18,2) out', @subTotalReturnDiscount out
 
   SELECT @counterOpen AS CounterOpen,@cashSale AS CashSale,@cashRefund AS CashRefund,
          @paidInCash AS PaidInCash,@paidOutCash AS PaidOutCash,@counterClose AS CounterClose,
          @grossSale AS GrossSale,@refund AS Refund,@itemDiscount AS ItemDiscount,
          @subTotalDiscount AS SubTotalDiscount,@itemReturnDiscount AS ItemReturnDiscount,@subTotalReturnDiscount AS SubTotalReturnDiscount,@DeclareAmount as DeclareAmount
                  
            
   SET @sqlCardSale+='GROUP BY b.BankName'
   EXEC (@sqlCardSale)  
   
   SET @sqlOtherSale+='GROUP BY p.PayTypeName'
   EXEC (@sqlOtherSale) 
   
   IF @ReportType=2
   BEGIN   
   UPDATE [Counter] set ZNo=ZNo+1 WHERE LocationID=@locationID AND CounterID=@CounterID    
   END
   ELSE IF @ReportType=3
   BEGIN   
   UPDATE [Counter] set XNo=Xno+1 WHERE LocationID=@locationID AND CounterID=@CounterID    
   END
     
   COMMIT TRANSACTION  

   END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
   
END CATCH	
   
END
GO
