USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spInitializeBackOffice]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec  spInitializeBackOffice

CREATE PROCEDURE [dbo].[spInitializeBackOffice]

AS
BEGIN
	
	SET NOCOUNT ON;

 BEGIN TRY
 
 
 TRUNCATE TABLE OpeningStockMain
 TRUNCATE TABLE PaidInPaidOutMain
 TRUNCATE TABLE PurchaseMain
 TRUNCATE TABLE SalesOrderMain
 TRUNCATE TABLE StockAdjustmentMain
 
 TRUNCATE TABLE OpeningStockSub
 TRUNCATE TABLE PaidInPaidOutSub
 TRUNCATE TABLE PurchaseSub
 TRUNCATE TABLE SalesOrderSub
 TRUNCATE TABLE StockAdjustmentSub
 
 UPDATE NumberSetup set SerialNo=0
 
 exec spReCalculateStock
 
BEGIN TRANSACTION
COMMIT TRANSACTION  

	END TRY
    BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH
END
GO
