USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spPurchaseSummary]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spPurchaseSummary]
	 @LocationID bigint,
	 @dateFrom datetime,
	 @dateTo datetime,
	 @codeFrom nvarchar(10),
     @CodeTo nvarchar(10)
AS

--spPurchaseSummary 1,'2020-03-24','2020-03-24','0','z'

BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

	BEGIN TRANSACTION
	
	Declare		
	       @sqlPurchaseSummary nvarchar(max),
	       @sqlPurchaseSummarySubTotalDis nvarchar(max)

	
	SET @sqlPurchaseSummary= 'SELECT l.LocationName,s.SupplierName,pm.DocumentNo,CAST(pm.DocumentDate AS DATE) AS DocumentDate
	,im.ItemCode,im.ItemName,ps.CostPrice,ps.SellingPrice,ps.Qty,ps.FreeQty,ps.DiscountAmount,
	ps.Amount
	FROM PurchaseSub ps
	INNER JOIN PurchaseMain pm ON ps.PurchaseMainID=pm.PurchaseMainID 
	INNER JOIN Item im ON im.ItemID=ps.ItemID
	INNER JOIN Location l ON pm.LocationID=l.LocationID
    INNER JOIN Supplier s ON pm.SupplierID=s.SupplierID
    WHERE CAST(pm.DocumentDate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''
    AND im.ItemCode BETWEEN '''+CAST(@codeFrom as nvarchar)+''' AND '''+CAST(@codeTo as nvarchar)+''''
    
    
    SET @sqlPurchaseSummarySubTotalDis= 'SELECT ISNULL(SUM(DISTINCT pm.DiscountAmount),0) as SubTotalDiscountAmount
    ,ISNULL(SUM(DISTINCT pm.NetAmount),0) as NetAmount
	FROM PurchaseSub ps
	INNER JOIN PurchaseMain pm ON ps.PurchaseMainID=pm.PurchaseMainID 
	INNER JOIN Item im ON im.ItemID=ps.ItemID
	INNER JOIN Location l ON pm.LocationID=l.LocationID
    INNER JOIN Supplier s ON pm.SupplierID=s.SupplierID
    WHERE CAST(pm.DocumentDate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''
    AND im.ItemCode BETWEEN '''+CAST(@codeFrom as nvarchar)+''' AND '''+CAST(@codeTo as nvarchar)+''''
    
    IF(@LocationID<>0)
    BEGIN    
    
    SET @sqlPurchaseSummary+=' AND pm.LocationID='''+CAST(@LocationID as nvarchar)+''''  
    SET @sqlPurchaseSummarySubTotalDis+=' AND pm.LocationID='''+CAST(@LocationID as nvarchar)+''''  
     
    END

    EXEC (@sqlPurchaseSummary)  
    EXEC (@sqlPurchaseSummarySubTotalDis)  

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
END CATCH	
   
END
GO
