USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spSalesSummary]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spSalesSummary]
	 @LocationID bigint,
	 @dateFrom datetime,
	 @dateTo datetime,
	 @codeFrom nvarchar(10),
     @CodeTo nvarchar(10)
AS

--spSalesSummary 1,'2020-03-25','2020-03-25','0','z'

BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

	BEGIN TRANSACTION
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'
	
	Declare		
	       @sqlSalesSummary nvarchar(max),
	       @sqlSalesSummarySubTotalDis nvarchar(max)

	
	SET @sqlSalesSummary= 'SELECT l.LocationName,c.CounterCode,sm.DocumentNo,CAST(sm.ZDate AS DATE) AS DocumentDate
	,im.ItemCode,im.ItemName,ss.CostPrice,ss.SellingPrice,CASE WHEN sm.DocumentID= '''+CAST(@InvoiceDocumentID as nvarchar)+''' THEN ss.Qty ELSE ss.Qty*(-1) END AS Qty,
	CASE WHEN sm.DocumentID= '''+CAST(@InvoiceDocumentID as nvarchar)+''' THEN ss.DiscountAmount ELSE ss.DiscountAmount*(-1) END DiscountAmount,
	CASE WHEN sm.DocumentID= '''+CAST(@InvoiceDocumentID as nvarchar)+''' THEN ss.Amount ELSE ss.Amount*(-1) END AS Amount,CAST(sm.Zno AS NVARCHAR) AS Zno
	FROM SalesSub ss
	INNER JOIN SalesMain sm ON ss.SalesMainID=sm.SalesMainID 
	INNER JOIN Item im ON im.ItemID=ss.ItemID
	INNER JOIN Location l ON sm.LocationID=l.LocationID
	INNER JOIN Counter c ON sm.CounterID=c.CounterID
    WHERE CAST(sm.DocumentDate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''
    AND im.ItemCode BETWEEN '''+CAST(@codeFrom as nvarchar)+''' AND '''+CAST(@codeTo as nvarchar)+''''
    
    
    SET @sqlSalesSummarySubTotalDis= 'SELECT ISNULL(SUM(DISTINCT CASE WHEN sm.DocumentID= '''+CAST(@InvoiceDocumentID as nvarchar)+''' THEN sm.DiscountAmount ELSE  sm.DiscountAmount*(-1) END),0) as SubTotalDiscountAmount
    ,ISNULL(SUM(DISTINCT CASE WHEN sm.DocumentID= '''+CAST(@InvoiceDocumentID as nvarchar)+''' THEN sm.NetAmount ELSE sm.NetAmount*(-1) END),0) as NetAmount
	FROM SalesSub ss
	INNER JOIN SalesMain sm ON ss.SalesMainID=sm.SalesMainID 
	INNER JOIN Item im ON im.ItemID=ss.ItemID
	INNER JOIN Location l ON sm.LocationID=l.LocationID
    WHERE CAST(sm.DocumentDate as Date) BETWEEN '''+CAST(@DateFrom as nvarchar)+''' AND '''+CAST(@DateTo as nvarchar)+'''
    AND im.ItemCode BETWEEN '''+CAST(@codeFrom as nvarchar)+''' AND '''+CAST(@codeTo as nvarchar)+''''
    
    IF(@LocationID<>0)
    BEGIN    
    
    SET @sqlSalesSummary+=' AND sm.LocationID='''+CAST(@LocationID as nvarchar)+''''  
    SET @sqlSalesSummarySubTotalDis+=' AND sm.LocationID='''+CAST(@LocationID as nvarchar)+''''  
     
    END

    EXEC (@sqlSalesSummary)  
    EXEC (@sqlSalesSummarySubTotalDis)  
    

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
END CATCH	
   
END
GO
