USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spInvoiceSave]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	By Navindu
-- Create date: 2017-10-25
-- Description:	Invoice Save
-- =============================================
CREATE PROCEDURE [dbo].[spInvoiceSave]
	  @SalesMainID BIGINT,
	  @DocumentID BIGINT,
	  @DocumentNo NVARCHAR(30),
	  @LocationID BIGINT,
	  @CounterID BIGINT
AS
BEGIN

	SET NOCOUNT ON;

BEGIN TRY

	BEGIN TRANSACTION
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'

    IF @DocumentID=@InvoiceDocumentID
    BEGIN
    
	IF OBJECT_ID('tempdb..#TempSalesSub') IS NOT NULL
    DROP TABLE #TempSalesSub

	SELECT sb.ItemID,SUM(sb.Qty) as qty,sb.SellingPrice,im.IsCountable INTO #TempSalesSub FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN Item im on sb.ItemID=im.ItemID
	WHERE sm.SalesMainID=@SalesMainID AND sm.DocumentID=@DocumentID AND sm.LocationID=@LocationID AND sm.CounterID=@CounterID
	GROUP BY sb.ItemID,im.IsCountable,sb.SellingPrice

	UPDATE ims
	SET IMS.Stock= IMS.Stock-tb.Qty
	FROM ItemStock ims INNER JOIN #TempSalesSub tb
	ON Ims.ItemID=tb.ItemID 
	WHERE ims.LocationID=@LocationID AND tb.IsCountable=1
	
	UPDATE im
	SET im.SellingPrice= tb.SellingPrice
	FROM Item im INNER JOIN #TempSalesSub tb
	ON im.ItemID=tb.ItemID 
	
	END
	ELSE
	BEGIN
	IF OBJECT_ID('tempdb..#TempSalesReturnSub') IS NOT NULL
    DROP TABLE #TempSalesReturnSub

	SELECT sb.ItemID,SUM(sb.Qty) as qty,sb.SellingPrice,im.IsCountable INTO #TempSalesReturnSub FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN Item im on sb.ItemID=im.ItemID
	WHERE sm.SalesMainID=@SalesMainID AND sm.DocumentID=@DocumentID AND sm.LocationID=@LocationID AND sm.CounterID=@CounterID
	GROUP BY sb.ItemID,im.IsCountable,sb.SellingPrice

	UPDATE ims
	SET IMS.Stock= IMS.Stock+tb.Qty
	FROM ItemStock ims INNER JOIN #TempSalesReturnSub tb
	ON Ims.ItemID=tb.ItemID 
	WHERE ims.LocationID=@LocationID AND tb.IsCountable=1
	
	END
	

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH


END
GO
