USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[TransactionLogClear]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TransactionLogClear]
AS
BEGIN
	
	SET NOCOUNT ON;

   DBCC CHECKDB

ALTER DATABASE NERPSUPER
SET RECOVERY SIMPLE;


-- Shrink the truncated log file to 1 MB.
DBCC SHRINKFILE (NERPSUPER_Log, 1);
-- Reset the database recovery model.
ALTER DATABASE NERPSUPER
SET RECOVERY FULL;
END
GO
