USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spAddAllPrivileges]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		By Navindu
-- Create date: 2017-04-30
-- Description:	Add All Privileges
-- =============================================
CREATE PROCEDURE [dbo].[spAddAllPrivileges]

AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @UserID bigint,
	@FormInfoID bigint,
	@GroupOfCompanyID bigint

	SELECT @GroupOfCompanyID=GroupOfCompanyID FROM GroupOfCompany WHERE IsActive=1
	truncate table [UserPrivileges]

	DECLARE cur1 CURSOR FAST_FORWARD READ_ONLY
	FOR
	SELECT UserID FROM [User]

	OPEN cur1

	FETCH NEXT FROM cur1 INTO @UserID

	WHILE @@FETCH_STATUS=0
	BEGIN
			
			DECLARE cur2 CURSOR FAST_FORWARD READ_ONLY
	FOR
	SELECT FormInfoID FROM FormInfo

	OPEN cur2

	FETCH NEXT FROM cur2 INTO @FormInfoID

	WHILE @@FETCH_STATUS=0
	BEGIN
	INSERT INTO [dbo].[UserPrivileges]
           ([UserID]
           ,[FormInfoID]
           ,[IsAccess]
           ,[IsSave]
           ,[IsRemove]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
     VALUES
           (@UserID
           ,@FormInfoID
           ,1
           ,1
           ,1
           ,0
           ,@GroupOfCompanyID
           ,'Admin'
           ,getdate()
           ,'Admin'
           ,getdate())
	FETCH NEXT from cur2 INTO @FormInfoID
	END

	CLOSE cur2
	DEALLOCATE cur2

	FETCH NEXT from cur1 INTO @UserID
	END

	CLOSE cur1
	DEALLOCATE cur1
END
GO
