USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spGivenDateStockProcess]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGivenDateStockProcess] 
	 @LocationID bigint,
	 @GivenDate datetime,
	 @CodeFrom  nvarchar(10),
     @CodeTo nvarchar(10),
     @IsWithoutZero bit
AS
--[spGivenDateStockProcess] 1,'2019-03-11','0','z'

BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

	BEGIN TRANSACTION
	
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'
	

	IF OBJECT_ID('tempdb..#ITEMLIST') IS NOT NULL
    DROP TABLE #ITEMLIST

	IF OBJECT_ID('tempdb..#TempCurrentGivenDateStock') IS NOT NULL
    DROP TABLE #TempCurrentGivenDateStock

	IF OBJECT_ID('tempdb..#TempGivenDateStock') IS NOT NULL
    DROP TABLE #TempGivenDateStock

	IF OBJECT_ID('tempdb..#TempCurrentGivenDateStockSum') IS NOT NULL
    DROP TABLE #TempCurrentGivenDateStockSum
	

	CREATE TABLE [dbo].[#ITEMLIST](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemID] [bigint] NOT NULL
)

CREATE TABLE [#TempCurrentGivenDateStock](
	[idx] [bigint]  IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[qty] [decimal](18, 3) NULL)


CREATE TABLE [#TempGivenDateStock](
	[Idx] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[ItemCode] [nvarchar](50) NULL,
	[ItemName] [nvarchar](60) NULL,
	[LocationID] [bigint] NOT NULL,
	[LocationCode] [nvarchar](10) NULL,
	[LocationName] [nvarchar](20) NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[Qty] [decimal](18, 3) NOT NULL)

CREATE TABLE [#TempCurrentGivenDateStockSum](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Qty] [decimal](18, 3) NULL)


INSERT INTO [#ITEMLIST]([ItemID])
	SELECT ItemID
	FROM Item
	WHERE IsActive=1 and IsDelete=0 and IsCountable=1 and ItemCode between @CodeFrom and @CodeTo

	--Opening Stock
	INSERT INTO [#TempCurrentGivenDateStock] ([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,ob.ItemID as ItemID ,SUM(ob.Qty) as qty  FROM OpeningStockMain om
	INNER JOIN OpeningStockSub ob on ob.OpeningStockMainID=om.OpeningStockMainID
	INNER JOIN #ITEMLIST t on t.ItemID=ob.ItemID
	WHERE om.LocationID=@LocationID AND CAST(om.DocumentDate as DATE) <=@GivenDate
	GROUP BY ob.ItemID

	--Invoice
	INSERT INTO [#TempCurrentGivenDateStock] (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty)*(-1) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <=@GivenDate
	and sm.DocumentID=@InvoiceDocumentID
	GROUP BY sb.ItemID

	--InvoiceReturn
	INSERT INTO [#TempCurrentGivenDateStock] (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <=@GivenDate
	and sm.DocumentID=@InvoiceReturnDocumentID
	GROUP BY sb.ItemID
	--GRN
	INSERT INTO [#TempCurrentGivenDateStock] (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.Qty+pb.FreeQty) as qty FROM PurchaseMain sm
	INNER JOIN PurchaseSub pb on pb.PurchaseMainID=sm.PurchaseMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <=@GivenDate
	GROUP BY pb.ItemID

	--Stock Adjustment Add
	INSERT INTO [#TempCurrentGivenDateStock] (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=1 AND CAST(sm.DocumentDate as DATE) <=@GivenDate
	GROUP BY pb.ItemID

	--Stock Adjustment Reduce
	INSERT INTO [#TempCurrentGivenDateStock] (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty)*(-1) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=2 AND CAST(sm.DocumentDate as DATE) <=@GivenDate
	GROUP BY pb.ItemID

   INSERT INTO [#TempGivenDateStock]([ItemID] ,[ItemCode],[ItemName],[LocationID],[LocationCode],[LocationName],[SellingPrice],[CostPrice] ,[Qty])	
	SELECT im.ItemID,im.ItemCode as ItemCode,im.ItemName,l.LocationID,l.LocationCode,l.LocationName,im.SellingPrice,im.CostPrice,0 as Qty
    FROM Item im
	INNER JOIN #ITEMLIST t on t.ItemID=im.ItemID
	CROSS JOIN [Location] l
	WHERE im.Isdelete=0 and im.IsActive=1 AND l.LocationID=@LocationID
	GROUP BY im.ItemID,im.ItemCode,im.ItemName
	,l.LocationID,l.LocationCode,l.LocationName,im.SellingPrice,im.CostPrice


	INSERT INTO [#TempCurrentGivenDateStockSum] ([ItemID],[LocationID],[Qty])
	SELECT tgds.ItemID,tgds.LocationID,SUM(tgds.Qty) as Qty
    FROM [#TempCurrentGivenDateStock] tgds
	GROUP BY  tgds.ItemID,tgds.LocationID


	UPDATE t
	SET t.Qty=tc.Qty
	FROM [#TempGivenDateStock] t
	INNER JOIN  [#TempCurrentGivenDateStockSum] tc on t.ItemID=tc.ItemID
	AND t.LocationID=tc.LocationID

    IF @IsWithoutZero=1
    BEGIN
    SELECT * FROM [#TempGivenDateStock] WHERE Qty<>0
    ORDER BY ItemID
    END
    ELSE
    BEGIN
	SELECT * FROM [#TempGivenDateStock] ORDER BY ItemID
	END

	IF OBJECT_ID('tempdb..#ITEMLIST') IS NOT NULL
    DROP TABLE #ITEMLIST

	IF OBJECT_ID('tempdb..#TempCurrentGivenDateStock') IS NOT NULL
    DROP TABLE #TempCurrentGivenDateStock

	IF OBJECT_ID('tempdb..#TempGivenDateStock') IS NOT NULL
    DROP TABLE #TempGivenDateStock

	IF OBJECT_ID('tempdb..#TempCurrentGivenDateStockSum') IS NOT NULL
    DROP TABLE #TempCurrentGivenDateStockSum

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH	

END
GO
