USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[AddPrivileges]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddPrivileges]
@FormName nvarchar(100),
@FormText nvarchar(100),
@Prefix nvarchar(10),
@CodeLeangth int,
@FormType int,
@ModuleType int,
@DocumentID bigint 

--exec AddPrivileges 'FrmInsuranceCompany','Insurance Company','',2,1,1,100

AS
BEGIN
Declare @GroupOfCompany int
Declare @FormInfoID int,
@UserID bigint

select @GroupOfCompany=GroupOfCompanyID from GroupOfCompany where IsActive=1

IF NOT EXISTS(select *from FormInfo where FormName=@FormName)
begin
INSERT INTO [FormInfo]
           ([FormName]
           ,[FormText]
           ,[Prefix]
           ,[CodeLength]
           ,[FormType]
		   ,[ModuleType]
		   ,[DocumentID]
           ,[IsAutoGenerate]
           ,[IsActive]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
 VALUES
           (@FormName
           ,@FormText
           ,@Prefix
           ,@CodeLeangth
           ,@FormType
		   ,@ModuleType
		   ,@DocumentID
           ,1
           ,1
           ,0
           ,@GroupOfCompany
           ,'Admin'
           ,GETDATE()
           ,'Admin'
           ,GETDATE())         
  
end
select @FormInfoID=max(FormInfoID) from FormInfo
--IF NOT EXISTS(select *from UserPrivileges where FormInfoID=@FormInfoID and UserID=1)
--begin
--INSERT INTO [UserPrivileges]
--           ([UserID]
--           ,[FormInfoID]
--           ,[IsAccess]
--           ,[IsSave]
--           ,[IsRemove]
--           ,[IsDelete]
--           ,[GroupOfCompanyID]
--           ,[CreatedUser]
--           ,[CreatedDate]
--           ,[ModifiedUser]
--           ,[ModifiedDate])
-- VALUES(
--       1
--      ,@FormInfoID
--      ,1
--      ,1
--      ,1
--      ,0
--      ,@GroupOfCompany
--      ,'Admin'
--      ,GETDATE()
--      ,'Admin'
--      ,GETDATE()) 
 --end

 DECLARE cur1 CURSOR FAST_FORWARD READ_ONLY
	FOR
	SELECT UserID FROM [User]

	OPEN cur1

	FETCH NEXT FROM cur1 INTO @UserID
	WHILE @@FETCH_STATUS=0
	BEGIN

	IF NOT EXISTS(select *from [UserPrivileges] where FormInfoID=@FormInfoID and UserID=@UserID)
begin

	INSERT INTO [dbo].[UserPrivileges]
           ([UserID]
           ,[FormInfoID]
           ,[IsAccess]
           ,[IsSave]
           ,[IsRemove]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
     VALUES
           (@UserID
           ,@FormInfoID
           ,0
           ,0
           ,0
           ,0
           ,@GroupOfCompany
           ,'Admin'
           ,getdate()
           ,'Admin'
           ,getdate())
	
	END
	FETCH NEXT from cur1 INTO @UserID
	END

	CLOSE cur1
	DEALLOCATE cur1
END
GO
