USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spStockAdjustmentSave]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	By Navindu
-- Create date: 2018-10-08
-- Description:	Stock Adjustment
-- =============================================
CREATE PROCEDURE [dbo].[spStockAdjustmentSave] 

	  @StockAdjustmentMainID BIGINT,
	  @AdjustmentType INT,
	  @DocumentID BIGINT,
	  @DocumentNo NVARCHAR(30),
	  @LocationID BIGINT
AS
BEGIN
	
	SET NOCOUNT ON;
BEGIN TRY

	BEGIN TRANSACTION

	IF OBJECT_ID('tempdb..#TempStockAdjustmentSub') IS NOT NULL
    DROP TABLE #TempStockAdjustmentSub

	SELECT sb.ItemID,SUM(sb.Qty) as qty,min(sb.SellingPrice) as SellingPrice,min(sb.CostPrice) as CostgPrice INTO #TempStockAdjustmentSub FROM StockAdjustmentMain pm
	INNER JOIN StockAdjustmentSub sb on sb.StockAdjustmentMainID=pm.StockAdjustmentMainID
	WHERE pm.StockAdjustmentMainID=@StockAdjustmentMainID AND pm.DocumentID=@DocumentID AND pm.LocationID=@LocationID 
	GROUP BY sb.ItemID

	--if @AdjustmentType=1
	--BEGIN

	--UPDATE ims
	--SET IMS.Stock= IMS.Stock+tb.Qty
	--FROM ItemStock ims INNER JOIN #TempStockAdjustmentSub tb
	--ON Ims.ItemID=tb.ItemID 
	--WHERE ims.LocationID=@LocationID

	--END
	--ELSE
	--BEGIN
	--UPDATE ims
	--SET IMS.Stock= IMS.Stock-tb.Qty
	--FROM ItemStock ims INNER JOIN #TempStockAdjustmentSub tb
	--ON Ims.ItemID=tb.ItemID 
	--WHERE ims.LocationID=@LocationID
	--END

	UPDATE ims
	SET IMS.Stock= tb.Qty
	FROM ItemStock ims INNER JOIN #TempStockAdjustmentSub tb
	ON Ims.ItemID=tb.ItemID 
	WHERE ims.LocationID=@LocationID
	
	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH
    
END
GO
