USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spBinCardProcess]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[spBinCardProcess]
	 @LocationID bigint,
	 @dateFrom datetime,
	 @dateTo datetime,
	 @codeFrom nvarchar(10),
     @CodeTo nvarchar(10)
AS

--spBinCardProcess 1,'2018-03-05','2019-03-11','0547','0547'

BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

	BEGIN TRANSACTION
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'

	IF OBJECT_ID('tempdb..#ITEMLIST') IS NOT NULL
    DROP TABLE #ITEMLIST

	IF OBJECT_ID('tempdb..#TempBinCardOPB') IS NOT NULL
    DROP TABLE #TempBinCardOPB
	
	IF OBJECT_ID('tempdb..#TempBincardTransaction') IS NOT NULL
    DROP TABLE #TempBincardTransaction

	CREATE TABLE [dbo].[#ITEMLIST](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[ItemCode] [nvarchar](50) NULL,
	[ItemName] [nvarchar](60) NULL,
	[SellingPrice] [decimal](38, 2),
	[CostPrice] [decimal](38, 2))
	

	CREATE TABLE [#TempBinCardOPB](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationID] [bigint] NULL,
	[ItemID] [bigint] NOT NULL,
	[qty] [decimal](18, 3) NULL)
	
	CREATE TABLE [#TempBincardTransaction](
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationID] [bigint] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[DocumentNo] [varchar](30) NOT NULL,
	[TransactionType] [varchar](30) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[Qty] [decimal](18, 3) NOT NULL,
	[SellingPrice] [decimal](38, 2),
	[CostPrice] [decimal](38, 2),
	[OrderID] [bigint] NOT NULL) 

	INSERT INTO [#ITEMLIST]([ItemID],[ItemCode],[ItemName],[SellingPrice],[CostPrice])
	SELECT [ItemID],[ItemCode],[ItemName],[SellingPrice],[CostPrice]
	FROM Item
	WHERE IsActive=1 and IsDelete=0 and IsCountable=1 and ItemCode between @CodeFrom and @CodeTo

	--Opening Stock
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,ob.ItemID as ItemID ,SUM(ob.Qty) as qty FROM OpeningStockMain om
	INNER JOIN OpeningStockSub ob on ob.OpeningStockMainID=om.OpeningStockMainID
	INNER JOIN #ITEMLIST t on t.ItemID=ob.ItemID
	WHERE om.LocationID=@LocationID AND CAST(om.DocumentDate as DATE) <@dateFrom
	GROUP BY ob.ItemID

	--Invoice
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty)*(-1) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <@dateFrom 
	and sm.DocumentID=@InvoiceDocumentID
	GROUP BY sb.ItemID

	--InvoiceReturn
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <@dateFrom 
	and sm.DocumentID=@InvoiceReturnDocumentID
	GROUP BY sb.ItemID

	--GRN
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.Qty+pb.FreeQty) as qty FROM PurchaseMain sm
	INNER JOIN PurchaseSub pb on pb.PurchaseMainID=sm.PurchaseMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID AND CAST(sm.DocumentDate as DATE) <@dateFrom
	GROUP BY pb.ItemID

	--Stock Adjustment Add
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=1 AND CAST(sm.DocumentDate as DATE)  <@dateFrom
	GROUP BY pb.ItemID

	--Stock Adjustment Reduce
	INSERT INTO [#TempBinCardOPB]([LocationID],[ItemID],[qty])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty)*(-1) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=2 AND CAST(sm.DocumentDate as DATE)  <@dateFrom
	GROUP BY pb.ItemID

	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo],[TransactionType],[TransactionDate],[Qty],[SellingPrice],[CostPrice],[OrderID])
	SELECT LocationID,ItemID,'OPB','Opening Balance' AS TransactionType,@dateFrom AS TransactionDate,ISNULL(SUM(Qty),0) AS Qty,0 AS SellingPrice,0 AS CostPrice,1 as OrderID FROM #TempBinCardOPB
	GROUP BY LocationID,ItemID

	--Opening Stock
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo],[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,ob.ItemID as ItemID ,om.DocumentNo,'Opening Stock',CAST(om.DocumentDate as DATE),SUM(ob.Qty) as qty,2 as OrderID FROM OpeningStockMain om
	INNER JOIN OpeningStockSub ob on ob.OpeningStockMainID=om.OpeningStockMainID
	INNER JOIN #ITEMLIST t on t.ItemID=ob.ItemID
	WHERE om.LocationID=@LocationID AND CAST(om.DocumentDate as DATE) Between @dateFrom AND @dateTo
	GROUP BY ob.ItemID,CAST(om.DocumentDate as DATE),om.DocumentNo

	--Invoice
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo] ,[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,sb.ItemID as ItemID,sm.DocumentNo,'Sales',CAST(sm.DocumentDate as DATE),SUM(sb.Qty)*(-1) as qty,2 as OrderID FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID  AND CAST(sm.DocumentDate as DATE) Between @dateFrom AND @dateTo
	AND sm.DocumentID=@InvoiceDocumentID
	GROUP BY sb.ItemID,CAST(sm.DocumentDate as DATE),sm.DocumentNo

	--InvoiceReturn
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo] ,[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,sb.ItemID as ItemID,sm.DocumentNo,'Invoice Return',CAST(sm.DocumentDate as DATE),SUM(sb.Qty) as qty,2 as OrderID FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	INNER JOIN #ITEMLIST t on t.ItemID=sb.ItemID
	WHERE sm.LocationID=@LocationID  AND CAST(sm.DocumentDate as DATE) Between @dateFrom AND @dateTo
	AND sm.DocumentID=@InvoiceReturnDocumentID
	GROUP BY sb.ItemID,CAST(sm.DocumentDate as DATE),sm.DocumentNo
	
	--GRN
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo] ,[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,sm.DocumentNo,'GRN',CAST(sm.DocumentDate as DATE),SUM(pb.Qty+pb.FreeQty) as qty,2 as OrderID FROM PurchaseMain sm
	INNER JOIN PurchaseSub pb on pb.PurchaseMainID=sm.PurchaseMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID  AND CAST(sm.DocumentDate as DATE) Between @dateFrom AND @dateTo
	GROUP BY pb.ItemID,CAST(sm.DocumentDate as DATE),sm.DocumentNo

	--Stock Adjustment Add
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo] ,[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,sm.DocumentNo,'Stock Adjustment Add',CAST(sm.DocumentDate as DATE),SUM(pb.AdjustQty) as qty,2 as OrderID FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=1  AND CAST(sm.DocumentDate as DATE) Between @dateFrom AND @dateTo
	GROUP BY pb.ItemID,CAST(sm.DocumentDate as DATE),sm.DocumentNo

	--Stock Adjustment Reduce
	INSERT INTO [#TempBincardTransaction]([LocationID],[ItemID],[DocumentNo] ,[TransactionType],[TransactionDate],[Qty],[OrderID])
	SELECT @LocationID as LocationID,pb.ItemID as ItemID,sm.DocumentNo,'Stock Adjustment Reduce',CAST(sm.DocumentDate as DATE),SUM(pb.AdjustQty)*(-1) as qty,2 FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	INNER JOIN #ITEMLIST t on t.ItemID=pb.ItemID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=2 AND CAST(sm.DocumentDate as DATE) Between @dateFrom AND @dateTo
	GROUP BY pb.ItemID,CAST(sm.DocumentDate as DATE),sm.DocumentNo

	select t.ItemID,t.ItemCode,t.ItemCode+' - '+t.ItemName AS ItemName,t.SellingPrice,t.CostPrice,tb.TransactionDate,tb.TransactionType,tb.DocumentNo,tb.Qty from #TempBincardTransaction tb
	INNER JOIN  #ITEMLIST t on t.ItemID=tb.ItemID
    ORDER BY tb.OrderID,t.ItemID,tb.TransactionDate

	IF OBJECT_ID('tempdb..#ITEMLIST') IS NOT NULL
    DROP TABLE #ITEMLIST

	IF OBJECT_ID('tempdb..#TempBinCardOPB') IS NOT NULL
    DROP TABLE #TempBinCardOPB
	
	IF OBJECT_ID('tempdb..#TempBincardTransaction') IS NOT NULL
    DROP TABLE #TempBincardTransaction

	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
END CATCH	
   
END
GO
