USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spAddDocumentNo]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spAddDocumentNo]
	@NumberSetupCode nvarchar(10),
@NumberSetupName nvarchar(30),
@DocumentID int,
@SerialNo bigint

AS
BEGIN
	
	SET NOCOUNT ON;

	Declare @GroupOfCompany int
select @GroupOfCompany=GroupOfCompanyID from GroupOfCompany where IsActive=1

IF NOT EXISTS(select *from NumberSetup where DocumentID=@DocumentID)
BEGIN
  INSERT INTO [dbo].[NumberSetup]
           ([NumberSetupCode]
           ,[NumberSetupName]
           ,[DocumentID]
           ,[SerialNo]
           ,[IsDelete]
           ,[GroupOfCompanyID]
           ,[CreatedUser]
           ,[CreatedDate]
           ,[ModifiedUser]
           ,[ModifiedDate])
     VALUES
           (@NumberSetupCode
           ,@NumberSetupName
           ,@DocumentID
           ,@SerialNo
           ,0
           ,@GroupOfCompany
          ,'Admin'
           ,GETDATE()
           ,'Admin'
           ,GETDATE())
END
END
GO
