USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spReCalculateStock]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	By Navindu
-- Create date: 2017-10-25
-- Description:	Stock Re Calculate
-- =============================================
CREATE PROCEDURE [dbo].[spReCalculateStock] 
	
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRY

	BEGIN TRANSACTION
	
	
	DECLARE @InvoiceDocumentID bigint
	       ,@InvoiceReturnDocumentID bigint
	
	SELECT @InvoiceDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoice'
	SELECT @InvoiceReturnDocumentID=DocumentID FROM FormInfo WHERE FormName='FrmInvoiceReturn'


	IF OBJECT_ID('tempdb..#TempCurrentStock') IS NOT NULL
    DROP TABLE #TempCurrentStock

    CREATE TABLE #TempCurrentStock
    (
	    LocationID BIGINT NOT NULL,
        ItemID BIGINT NOT NULL,
		Qty DECIMAL(18,3)
    ) 

	IF OBJECT_ID('tempdb..#TempCurrentStockUpdate') IS NOT NULL
    DROP TABLE #TempCurrentStockUpdate

    CREATE TABLE #TempCurrentStockUpdate
    (
	    LocationID BIGINT NOT NULL,
        ItemID BIGINT NOT NULL,
		Qty DECIMAL(18,3)
    ) 
	DECLARE @LocationID BIGINT
    DECLARE db_cursor CURSOR FOR  
	SELECT locationID FROM [Location] WHERE IsStock = 1 AND IsActive = 1
	OPEN db_cursor   
	FETCH NEXT FROM db_cursor INTO @LocationID
	WHILE @@FETCH_STATUS = 0   
	BEGIN 

	TRUNCATE TABLE #TempCurrentStock

	--Opening Stock
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,ob.ItemID as ItemID ,SUM(ob.Qty) as qty FROM OpeningStockMain om
	INNER JOIN OpeningStockSub ob on ob.OpeningStockMainID=om.OpeningStockMainID
	WHERE om.LocationID=@LocationID
	GROUP BY ob.ItemID

	--Invoice
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty)*(-1) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	WHERE sm.LocationID=@LocationID and sm.DocumentID=@InvoiceDocumentID
	GROUP BY sb.ItemID
	
	--InvoiceReturn
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,sb.ItemID as ItemID ,SUM(sb.Qty) as qty FROM SalesMain sm
	INNER JOIN SalesSub sb on sb.SalesMainID=sm.SalesMainID
	WHERE sm.LocationID=@LocationID and sm.DocumentID=@InvoiceReturnDocumentID
	GROUP BY sb.ItemID

	--GRN
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.Qty+pb.FreeQty) as qty FROM PurchaseMain sm
	INNER JOIN PurchaseSub pb on pb.PurchaseMainID=sm.PurchaseMainID
	WHERE sm.LocationID=@LocationID
	GROUP BY pb.ItemID

	--Stock Adjustment Add
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=1
	GROUP BY pb.ItemID

	--Stock Adjustment Reduce
	INSERT INTO #TempCurrentStock (LocationID,ItemID,Qty)
	SELECT @LocationID as LocationID,pb.ItemID as ItemID ,SUM(pb.AdjustQty)*(-1) as qty FROM StockAdjustmentMain sm
	INNER JOIN StockAdjustmentSub pb on pb.StockAdjustmentMainID=sm.StockAdjustmentMainID
	WHERE sm.LocationID=@LocationID and pb.AdjustmentType=2
	GROUP BY pb.ItemID

	TRUNCATE TABLE  #TempCurrentStockUpdate
	INSERT INTO #TempCurrentStockUpdate (LocationID,ItemID,Qty)
	SELECT LocationID,ItemID,SUM(Qty)
	FROM #TempCurrentStock
	GROUP BY LocationID,ItemID

	UPDATE ItemStock
	SET Stock=0
	WHERE LocationID=@LocationID

	UPDATE ims
	SET ims.Stock=ts.Qty
	FROM ItemStock ims INNER JOIN #TempCurrentStockUpdate ts
	INNER JOIN Item im  on ts.ItemID=im.ItemID
	ON ims.LocationID=ts.LocationID
	WHERE ims.LocationID=@LocationID 
	AND ims.ItemID=ts.ItemID AND im.IsCountable=1


	FETCH NEXT FROM db_cursor INTO @LocationID
	END   

	CLOSE db_cursor   
	DEALLOCATE db_cursor
	COMMIT TRANSACTION  

	END TRY
BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH


END
GO
