USE [NERPSUPER]
GO
/****** Object:  StoredProcedure [dbo].[spInitializePOSCounter]    Script Date: 07/28/2020 20:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec  spInitializePOSCounter 0,0

CREATE PROCEDURE [dbo].[spInitializePOSCounter]
	@LocationID bigint,
     @UnitNo bigint
AS
BEGIN
	
	SET NOCOUNT ON;

 BEGIN TRY
 
 IF @LocationID=0 AND @UnitNo=0 
 BEGIN
 
 TRUNCATE TABLE SalesMain
 TRUNCATE TABLE SalesSub
 TRUNCATE TABLE SalesPayment
 TRUNCATE TABLE SalesHold
 TRUNCATE TABLE CounterTransaction
 TRUNCATE TABLE PaidInPaidOutSub
 TRUNCATE TABLE PaidInPaidOutMain
 
 UPDATE Counter SET  XNo=1,ZNo=1 
 
 END
 ELSE
 BEGIN
 
 DELETE FROM SalesMain WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM SalesSub WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM SalesPayment WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM SalesHold WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM CounterTransaction WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM PaidInPaidOutSub WHERE LocationID=@LocationID AND CounterID=@UnitNo
 DELETE FROM PaidInPaidOutMain WHERE LocationID=@LocationID AND CounterID=@UnitNo

 
 UPDATE Counter SET  XNo=1,ZNo=1 WHERE LocationID=@LocationID AND CounterID=@UnitNo
 
  exec spReCalculateStock
  
 END
 
 BEGIN TRANSACTION
COMMIT TRANSACTION  

	END TRY
    BEGIN CATCH 
  IF (@@TRANCOUNT > 0)
   BEGIN
      ROLLBACK TRANSACTION  
   END 
    SELECT
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_LINE() AS ErrorLine,
        ERROR_MESSAGE() AS ErrorMessage
END CATCH
END
GO
