@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>ERP Login</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Student Login Form Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--online fonts-->
    <link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!--//online fonts-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- Using jQuery with a CDN -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <script type='text/javascript'>
        //$(document).ready(function(){
        //    var input = document.getElementById("myUsername");
        //    input.addEventListener("focusout", function (event) {
        //        event.preventDefault();

        //        alert(document.getElementById("myUsername").value);


        //       $.getJSON("/User/UserLocations", function (dataResponse) {
        //            console.log("First");
        //            console.log(dataResponse);

        //            console.log(dataResponse.LocationName);
                
        //        });



        //    });
        //});
      
    </script>

</head>

<body>
    <h1>ERP Login</h1>
    <div class="w3ls-login box">
        <img src="~/Content/images/logo.png" alt="logo_img" />
        <!-- form starts here -->
        <form action="#" method="post">
            <div class="agile-field-txt">
                <input type="text" name="username" placeholder="Your Username" required="" id="myUsername" />
            </div>
            <div class="agile-field-txt">
                <input type="password" name="password" placeholder="Password" required="" id="myInput" />
            </div>
            <div class="agile-field-txt">
                <input type="text" name="Location" id="loca" placeholder="Your Location" required="" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password">
                    <label class="check" for="check3">Remember me</label>
                </div>
            </div>
            <div class="w3ls-bot">
                <input type="submit" value="LOGIN">
            </div>
        </form>
    </div>
    <!-- //form ends here -->
    <!--copyright-->
    <div class="copy-wthree">
        <p>
            © 2018 NSoft Solutions. All Rights Reserved.
        </p>
    </div>
    <!--//copyright-->
    
</body>

</html>
